- name: Prepare application directory
  file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"
  loop:
    - "{{ app_dir }}"
    - "{{ app_dir }}/templates"

- name: Create virtual environment
  command: python3 -m venv "{{ venv_dir }}"
  args:
    creates: "{{ venv_dir }}/bin/activate"

- name: Install Python packages via pip
  pip:
    virtualenv: "{{ venv_dir }}"
    name:
      - flask
      - flask-mysqldb
      - mysqlclient
      - pymysql
      - gunicorn
    state: present
  notify: Restart Flask service

- name: Copy application files
  copy:
    src: "{{ item.src }}"
    dest: "{{ app_dir }}/{{ item.dest }}"
  loop:
    - { src: "app.py", dest: "app.py" }
    - { src: "{{ db_sql_file }}", dest: "{{ db_sql_file }}" }
  notify: Restart Flask service

- name: Copy templates
  copy:
    src: templates/
    dest: "{{ app_dir }}/templates/"
  notify: Restart Flask service

- name: Import Database
  mysql_db:
    name: "{{ db_name }}"
    state: import
    target: "{{ app_dir }}/{{ db_sql_file }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Configure Systemd Service for Flask
  template:
    src: flaskapp.service.j2
    dest: /etc/systemd/system/flaskapp.service
  notify:
    - Reload systemd
    - Restart Flask service

- name: Ensure flaskapp is enabled and started
  service:
    name: flaskapp
    state: started
    enabled: yes
