- name: Install MySQL packages
  apt:
    name:
      - mysql-server
      - python3-pymysql
      - libmysqlclient-dev
    state: present

- name: Start MySQL service
  service:
    name: mysql
    state: started
    enabled: yes

- name: Create Database and User
  block:
    - mysql_db:
        name: "{{ db_name }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock
    - mysql_user:
        name: db_user
        password: "{{ db_user_password }}"
        priv: "{{ db_name }}.*:ALL"
        host: "localhost"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock
