[Unit]
Description=FastAPI Application Service
After=network.target mysql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ app_dir }}
Environment="PATH={{ venv_dir }}/bin"
Environment="DB_PASSWORD={{ db_user_password }}"
Environment="S3_BUCKET_NAME=my-project-s3-2026"
ExecStart={{ venv_dir }}/bin/uvicorn app:app --host 127.0.0.1 --port 5000 --workers 3

[Install]
WantedBy=multi-user.target