[Unit]
Description=Flask Application Service
After=network.target mysql.service

[Service]
User=www-data
WorkingDirectory={{ app_dir }}
ExecStart={{ venv_dir }}/bin/python {{ app_dir }}/app.py
Restart=always
Environment="DB_PASSWORD={{ vault_db_user_password }}"

[Install]
WantedBy=multi-user.target