- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Configure Nginx as Reverse Proxy
  copy:
    dest: /etc/nginx/sites-available/flask_app
    content: |
      server {
          listen 80;
          server_name _;
          location / {
              proxy_pass http://127.0.0.1:5000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
  notify: Restart Nginx

- name: Enable Flask Nginx site
  file:
    src: /etc/nginx/sites-available/flask_app
    dest: /etc/nginx/sites-enabled/flask_app
    state: link
  notify: Restart Nginx

- name: Remove default Nginx site link
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: Restart Nginx

- name: Ensure nginx is enabled and started
  service:
    name: nginx
    state: started
    enabled: yes
