- name: Setup Web Servers
  hosts: servers
  become: true
  vars_files:
    - vars/secrets.yml
  vars:
    app_dir: /opt/flask_app
    venv_dir: "{{ app_dir }}/venv"
    db_user_password: "{{ vault_db_user_password }}"
    db_name: employee_db
    db_host: "localhost"
    db_sql_file: employees.sql

  roles:
    - common
    - mysql
    - flask
    - nginx
